body {
  font-family: 'Roboto', sans-serif; 
}

.header-container {
  margin-left: 50px;
  display: flex;
  justify-content: left; 
  align-items: center; 
  min-width: 968px;
  overflow-x: auto;
}

.header-container input {
  margin-left: 1.2vh;
}

.header-inputs {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 100%;
}

#filterClear {
    background-color: #FF6666; 
    color: white;
    border: 1px solid black; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s; 
  }

#filterClear:hover {
    background-color: #FF3333; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}
 


#teste, #filterInput, #filterDateAndTime, #filterClear, #filterLoja {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  cursor: pointer; 
  margin: 6px;
}

.product-list {
  clear: both;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 20px;
  min-width: 968px;
  overflow-x: auto;
}

.product-row {
  display: grid;
  grid-template-columns: repeat(9, 0.2fr);
  justify-content: space-between; 
  text-align: center;
  padding: 0px; 
  border-bottom: 1px solid #ddd;
  align-items: center; 
  margin-left: 20px;
}

.product-header {
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-right: 0px;
}

@media (max-width: 768px) {
  .product-header {
    font-size: small;
  }
}
