body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total da visualização */
}

.header-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.header-buttons {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  gap: 10px;
}

.header-buttons button {
  width: 200px; 
  max-width: 400px; 
  height: 50px;
}

#buttonAddProduct, #buttonRedirectToHistory, #buttonGenerateRelatory {
  font-family: 'Roboto', sans-serif;
}
